[*.cs]

# RCS1090: Call 'ConfigureAwait(false)'.
dotnet_diagnostic.RCS1090.severity = suggestion

# IDE0022: Use expression body for methods
csharp_style_expression_bodied_methods = true:warning

# IDE0021: Use expression body for constructors
csharp_style_expression_bodied_constructors = true:warning

# S4144: Methods should not have identical implementations
dotnet_diagnostic.S4144.severity = warning
