[*.cs]

# RCS1090: Call 'ConfigureAwait(false)'.
dotnet_diagnostic.RCS1090.severity = warning

# IDE0022: Use expression body for methods
csharp_style_expression_bodied_methods = true:warning

# IDE0021: Use expression body for constructors
csharp_style_expression_bodied_constructors = true:warning

# S4144: Methods should not have identical implementations
dotnet_diagnostic.S4144.severity = warning

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = all:warning

# S4136: Method overloads should be grouped together
dotnet_diagnostic.S4136.severity = warning

# S1854: Unused assignments should be removed
dotnet_diagnostic.S1854.severity = none

# RCS1001: Add braces (when expression spans over multiple lines).
dotnet_diagnostic.RCS1001.severity = warning
