@page "/"
@using MediatR
@using MediatR.Courier

@implements IDisposable

<PageTitle>Testing</PageTitle>

<h1>Hello, world!</h1>

Received messsages: @_messageCount
<br />
Last message was: @_lastMessage
<br />

<button @onclick="@Publish">Publish</button>

@code
{
	record Message<T>(T Data) : INotification;

	private int _messageCount;
	private string? _lastMessage;

	[Inject] private IMediator Mediator { get; init; } = default!;
	[Inject] private ICourier Courier { get; init; } = default!;

	protected override void OnInitialized() => Courier.Subscribe<Message<string>>(Receive);

	public void Dispose() => Courier.UnSubscribe<Message<string>>(Receive);

	private async Task Publish() => await Mediator.Publish(new Message<string>("Hello"));

	private void Receive(Message<string> message)
	{
		_messageCount++;
		_lastMessage = message.Data;
	}
}
