@page "/"
@using MediatR
@using MediatR.Courier

@implements IDisposable

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.<br />

Received messsages: @_messageCount<br />

<button @onclick="@Publish">Publish</button>

<SurveyPrompt Title="How is Courier working for you?" />

@code
{
	record Message() : INotification;

	private int _messageCount;

	[Inject] private IMediator Mediator { get; init; } = default!;
	[Inject] private ICourier Courier { get; init; } = default!;

	protected override void OnInitialized() => Courier.Subscribe<Message>(Receive);

	public void Dispose() => Courier.UnSubscribe<Message>(Receive);

	private async Task Publish() => await Mediator.Publish(new Message());

	private void Receive(Message _) => _messageCount++;
}
